* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0ecec;
}

h1 {
  padding: 30px 0;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1f83bd;
  text-underline-offset: 5px;
}

a:hover {
  text-underline-offset: 10px;
}

.container {
  width: 70%;
  margin: auto;
  padding: 0 50px;
  background: #ffffff;
  height: 100vh;
}

.bit-representation-container {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bit {
  border: 1px solid black;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
}

.sign-color {
  color: #18A999;
}

.exponent-color {
  color: #6f8ff5;
}

.fraction-color {
  color: salmon;
}

#bit-representation {
  margin-bottom: 50px;
}

#sign {
  margin: 0 5px;
  padding-bottom: 25px;
  border-bottom: 5px solid #18A999;
}

#exponent {
  margin: 0 5px;
  padding-bottom: 25px;
  border-bottom: 4px solid #6f8ff5;
}

#fraction {
  margin: 0 5px;
  padding-bottom: 25px;
  border-bottom: 4px solid salmon;
}

html {
  font-family: 'Alata', sans-serif;
}
